apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nodeName }}-config
  namespace: {{ .Values.namespace | default "default" }}
  labels:
    app: {{ .Values.nodeName }}
    chain: bsc
data:
  config.toml: |
    [Eth]
    NetworkId = 56
    NoPruning = false
    NoPrefetch = false
    LightPeers = 100
    UltraLightFraction = 75
    TrieTimeout = 100000000000
    EnablePreimageRecording = false
    EWASMInterpreter = ""
    EVMInterpreter = ""

    [Eth.Miner]
    GasFloor = 30000000
    GasCeil = 40000000
    GasPrice = 3000000000
    Recommit = 10000000000
    Noverify = false

    [Eth.TxPool]
    Locals = []
    NoLocals = true
    Journal = "transactions.rlp"
    Rejournal = 3600000000000
    PriceLimit = 1
    PriceBump = 10
    AccountSlots = {{ .Values.config.txpool.accountslots }}
    GlobalSlots = {{ .Values.config.txpool.globalslots }}
    AccountQueue = {{ .Values.config.txpool.accountqueue }}
    GlobalQueue = {{ .Values.config.txpool.globalqueue }}
    Lifetime = {{ .Values.config.txpool.lifetime }}

    [Eth.GPO]
    Blocks = 20
    Percentile = 60
    OracleThreshold = 1000

    [Node]
    IPCPath = "geth.ipc"
    HTTPHost = "0.0.0.0"
    HTTPPort = {{ .Values.service.ports.http.port }}
    HTTPVirtualHosts = ["*"]
    HTTPModules = ["{{ .Values.config.httpApi }}"]
    WSHost = "0.0.0.0"
    WSPort = {{ .Values.service.ports.ws.port }}
    WSOrigins = ["*"]
    WSModules = ["{{ .Values.config.wsApi }}"]

    [Node.P2P]
    MaxPeers = {{ if .Values.networking }}{{ .Values.networking.maxPeers | default 200 }}{{ else }}200{{ end }}
    NoDiscovery = {{ if .Values.networking }}{{ if .Values.networking.nodeDiscovery }}false{{ else }}true{{ end }}{{ else }}false{{ end }}
    ListenAddr = ":{{ .Values.service.ports.p2p.port }}"
    EnableMsgEvents = false

    [Node.HTTPTimeouts]
    ReadTimeout = 30000000000
    WriteTimeout = 30000000000
    IdleTimeout = 120000000000
